.App {
  text-align: center;
  background-color:#1578;
  background-repeat: repeat;

}
.pic{
  background-image: url(deo.jpg);
  position:relative; top:2px;
  
}
h1{
  color:brown;
  text-shadow: rgb(33, 63, 3);
}
h2,h3{
color: black;
font-size: 20px;
border-radius: 1.5rem;
background-color: rgb(324, 230, 132);

}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

